body {
    margin: 0px;
    padding: 0px;;

}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    padding: 3px;
} 
a:visited {
    color: white;
}
h1 {
    font-size: 70px;
}
.top-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: 2px solid black;
    z-index: 10;
    position: relative;
    background-color: white;
}
.header {
    justify-content: center;
    width: 80%;
    text-align: center;
}
.nav-top-left {
    justify-content: left;
    align-items: flex-start;
    margin-right: 50px;
    margin-left: 30px;
    padding: 10px;
    border: 2px solid black;
    display: none;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.nav-img {
    width: 70px;
} 
.nav-top-right {
    display: flex;
    text-align: right;
    margin-left: 50px;
    margin-right: 30px;

}
#nav-calc {
    margin-right: 10px;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
}
#nav-function {
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
}
.content {
    background-image: url("../images/checkers.png"); 
    background-color: rgb(220, 220, 220);
    text-decoration: none;
    height: 100%;
    display: flex;
    
}
.content-main {
    padding: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    
}
.nav-main {
    width: 30%; 
    background-color: white;
    height: 100%;
    transition-duration: 0.5s;
    transform-origin: top;
    z-index: 5;
    position: relative;
    border-right: 2px solid black;
}
.schowane {
    transform: translateY(-150%);
    width: 0%;
}
ul, ol {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    cursor: pointer;
}
li {
    background-color: black;
    color: white;
    margin: 1px;
    text-align: center;
    padding: 5px;
    margin: 6px;
    transition: 0.6s;
    cursor: pointer;
}
li:focus {
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid black;
}
li:hover {
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    color: black;
    margin: 1px;
    text-align: center;
    padding: 5px;
    margin: 6px;
    transition: 0.6s;
    border: 1px solid black;
}
ol > li > ul {
    display:none;
  }
ol > li > ul > li:hover {
    background-color: gray;
} 
ol > li:focus-within > ul {
display:block;
transition: 0.5s;
}
@media screen and (max-width: 1083px) {
    h1 {
        font-size: 40px;
    }
    #calc {
        position: absolute;
        top: 200px;
        right: 18px;;
    }
}
@media screen and (max-width: 1067px) {
    h1 {
        font-size: 40px;
    }
}
@media screen and (max-width: 900px) {
    .nav-top-left {
        display: inline;
    }
    h1 {
        font-size: 35px;
    }
    .nav-img {
        height: 40px;
        width: 40px;
    }
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 30px;
    }
    .nav-img {
        height: 30px;
        width: 30px;
    }
}
@media screen and (max-width: 710px) {
    h1 {
        font-size: 20px;
    }
    .nav-img {
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 573px) {
    h1 {
        font-size: 25px;
    }
    .nav-img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 424px) {
    h1 {
        font-size: 15px;
    }
    .nav-img {
        width: 10px;
        height: 10px;
    }
}

/* Kalkulator */
.calc {
    max-width: 350px;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: white;
    display: none;
    position: absolute;
    top: 230px;
    right: 18px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
.calc button {
    width: calc(100%/4 - 10px);
    margin: 5px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 20px;

}
.calc-btn {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}
#screen {
    height: 80px;
    border: 2px solid black;
    margin: 30px;
    background-color: gray;
    color: white;
    margin-top: 20px;
    text-align: left;
}
#wynik-calc {
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
    margin-left: 10px;
}
.schowane-calc {
    display: block;
}
/* Funkcje */
.funkcje {
    min-height: 250px;
    width: 350px;
    border: 2px solid black;
    margin-bottom: 20px;
    background-color: white;
    position: absolute;
    top: 230px;
    right: 18px;
    display: none;
    text-align: center;
}
#funkcje-tekst {
    padding: 20px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
.schowane-funkcje {
    display: block;
}
.dzialania {
    font-weight: 600;
    padding: 10px;
}
input {
    width: 75px;
    border: 2px solid black;
    background-color: gray;
    color: white;
    font-weight: 700;
    padding: 5px;
}
input[type="radio"] {
    width: auto;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
   margin: 0; 
}
button {
    cursor: pointer;
}
input::placeholder {
    color: white;
    opacity: 0.4;
    text-align: left;
}
